@tailwind base;
@tailwind components;

@layer components {
  .roundBtn {
    @apply bg-active text-white lg:text-xl text-lg rounded-full py-1 px-5 capitalize;
  }
  .sectionPadding {
    @apply lg:px-400 lg:py-120half;
  }
}
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");

@font-face {
  font-family: Cambria;
  src: url("./fonts/Cambria.ttf");
}
@font-face {
  font-family: Cambriab;
  src: url("./fonts/cambriab.ttf");
}
* {
  /* font-family: "Ubuntu", sans-serif; */
  font-family: "Cambria", Cambriab;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 75rem;
  margin: 1rem auto 0 auto;
}

@media (max-width: 68em) {
  .container {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  html {
    font-size: 95%;
  }
}

@media (max-width: 24em) {
  html {
    font-size: 70%;
  }
}

.resource-bg {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(../public/Images/resourcebg.jpg);
  /* background-repeat: no-repeat;
  background-attachment: fixed; */
  background-size: cover;
}
