@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 75rem;
  margin: 1rem auto 0 auto;
}

@media (max-width: 68em) {
  .container {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  html {
    font-size: 95%;
  }
}

@media (max-width: 24em) {
  html {
    font-size: 70%;
  }
}
